@font-face {
    font-family: "Tw Cen MT" !important;
    font-size: 16px;
    src: url("https://github.com/koraynilay/linux-wallpapers/blob/master/tw-cen-mt-1361501946.ttf?raw=true") format('truetype');
    /*color:#ffffff;*/
    /*image-rendering: pixelated;*/
}

#desc, #title {
    color: white;
    text-shadow: 1px 1px black;
}
/* glow preso da https://www.w3schools.com/cssref/css3_pr_text-shadow.php */
/*
#desc, #title {
    color: #e8e6e3;
    text-shadow: 1px 1px 4px #161925, 1px 1px 2px #c50ed2;
}
*/

/* con bordo invece che ombra https://stackoverflow.com/a/13427256/12206923 */
/*
#desc {
    color: white;
    text-shadow: 1px 0 #000, -1px 0 #000, 0 1px #000, 0 -1px #000,
                 1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;

}
*/

ul.info {
    text-align: left;
    list-style: square inside;
    padding-left: 0px;
}
ul.info > li > ul.info {
    text-align: left;
    list-style: square inside;
    padding-left: 30px;
}

.info-name {
    color: red;
}

.column {
    float: left;
    width: 50%;
}
