body {
	background-image: url("https://github.com/koraynilay/linux-wallpapers/blob/master/sweet/landscape_sweet_dark_blur.png?raw=true");
	color: white;
	/*background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: left top;
	background-size: cover;*/
}

@font-face {
    font-family: "Tw Cen MT" !important;
    font-size: 16px;
    src: url("https://github.com/koraynilay/linux-wallpapers/blob/master/tw-cen-mt-1361501946.ttf?raw=true") format('truetype');
    /*color:#ffffff;*/
    /*image-rendering: pixelated;*/
}

/*#everything {
	position: absolute;
	left: 50%;
}
*/

#bg{
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
}

.info {
    text-align: left;
    list-style: square outside;
    margin-left: 20px;
    padding-left: 0;
}

#desc {
	width: 40%;
	margin: auto;
}

#pc {
    mix-blend-mode: revert;
}

.info-name {
    color: red;
}

#avatar {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#name {
	text-align: center;
}
